/*code for tabs in the document BEGIN*/
.tabs {
    position: relative;
    height: 60rem; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .tab {
    float: left;
  }
  .tab label {
    background: rgb(240, 248, 122);
    padding: 1rem;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
  }
  .tab [type="radio"] {
    opacity: 0;
  }
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: rgb(243, 248, 177);
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid rgb(173, 87, 87);
    overflow: hidden;
  }
  .content > * {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.6s ease;
  }
  [type="radio"]:focus ~ label {
    ouline: 2px solid blue;
  }
  [type="radio"]:checked ~ label {
    background: rgb(65, 126, 122);
    font-weight: bold;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type="radio"]:checked ~ label ~ .content {
    z-index: 1;
  }
  [type="radio"]:checked ~ label ~ .content > * {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* code for tabs in the document END*/
/* header-container is a container for logo and links */
.header-container{
  display: flex;
  justify-content: space-between; 
  /*it ill display one on the left and one on the right*/
  
}
  /* dimenssions and attributes for the logo */
  .our-logo{
    width: 5rem;
    height: 5rem;
  }
  /* to increase of website name  */
  .webaddress{
    font-size: 5vw;
    color: lightcoral;
  }
  /* navigtion links */
  .navigation-links{
    align-self: center;
  }
  a{
    padding: 1rem;
    color: lightseagreen;
    list-style: none;
  }
  a:hover{
    color: palevioletred;
  }
  /* to increase progress bar length */
  .progress-bar{
    width: 80%;
    /* border-radius: 2rem; */
    height: 1.5rem;
  }
  
 /* form label different from tab label */
 label.form-label{
  border: none;
  background: none;
 }
textarea {
  border-radius: 5px; 
}
/* checkbox hack */
/* to dispaly and hide street address and zip code */
#address:checked  ~ .control-me{
  display: none;
}
label.profile-description {
  display: block;
  margin-bottom: 10px;
}
.button-nextstep{
  float: right;
  margin-right: 5rem;
  width: 5rem;
  height: 3rem;
  border-radius: 0.3rem;
  z-index: 2;
}
/* grid for images */
.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}
.grid-item {
  background-color: rgba(234,215,255);
  border: 1px solid black;
  /* padding: 20px; */
  margin: 10px;
  text-align: center;
}
.checkbox-under-grid-item{
 justify-self: right;
 margin-right: 2rem;
}
input{
  border-radius: 1rem;
  height: 1.5rem;
}