body{
    background-color: lightgoldenrodyellow;
}
div.wrap{
    width:800px;
    margin: 0 auto;  
}
.left-col{
    float:left;
    width:400px;
}
.right-col{
    float:right;
    width:400px;
}
.profile-pic{
    display: block;
    margin: auto;
}
h1{
    text-align: center;
    color: crimson;
    font-weight: bolder;
    font-style: normal;
    text-decoration: underline;
}
h3{
    text-align: center;
    color: forestgreen;
    font-weight: bold;
}
div.section-heading{
color: rgb(248, 14, 248);
}
p.body-text{
    color:black;
    font-family: sans-serif;
}
.list-no-bullets{
    list-style: none;
    text-align: left;
    padding-left: 0px;
}
ul{
    font-family: sans-serif;
}
a{
    text-decoration: underline;
}
.logo-dimenssions{
    width: 30px;
    height: 30px;
}
a:hover {
    color: rgb(55, 10, 161); /* color link element when mouse over*/
    font-size: 20px; /* increase font size on mouse over */
  }
section:hover{
    color: rgb(132, 50, 122);
    font-size: 20px;
}
/*psuedo-element
to mark the text in yellow and background color red
when the text is selected using mouse
*/
::selection {
    background-color: red;
    color: yellow;
  }


